langgraph==1.2.12
langgraph-checkpoint-postgres

langchain-google-genai      # Gemini
langchain-groq              # Groq
langchain-core

psycopg[binary]

fastapi
uvicorn
    
radon

GitPython

python-dotenv

pytest